<!DOCTYPE hbs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUCT ADDING PAGE</h1>
    <a href="/register">
    <button>Add Products</button>
    </a>
</body>
</html>